In [1]:
import pandas as pd
import numpy as np

In [2]:
# Pandas has four main time related classes. Timestamp, DatetimeIndex, Period, and PeriodIndex

pd.Timestamp('01/23/2021 04:52PM')

Timestamp('2021-01-23 16:52:00')

In [3]:
pd.Timestamp(2019,12,20,0,0)

Timestamp('2019-12-20 00:00:00')

In [4]:
# 1 represents Monday and 7 represents Sunday
pd.Timestamp(2019,12,20,0,0).isoweekday()

5

In [5]:
pd.Timestamp(2019,12,20,5,2,23).second

23

In [6]:
pd.Period('1/2016')

Period('2016-01', 'M')

In [7]:
pd.Period('3/5/2016')

Period('2016-03-05', 'D')

In [8]:
pd.Period('1/2016') + 5

Period('2016-06', 'M')

In [9]:
pd.Period('3/5/2016') -2

Period('2016-03-03', 'D')

# DatetimeIndex and PeriodIndex

In [11]:
t1= pd.Series(list('abc'), [pd.Timestamp('2016-09-01'),pd.Timestamp
                           ('2016-09-02'),pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [12]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [13]:
t2= pd.Series(list('def'), [pd.Period('2016-09-01'),pd.Period
                           ('2016-09-02'),pd.Period('2016-09-03')])
t2

2016-09-01    d
2016-09-02    e
2016-09-03    f
Freq: D, dtype: object

In [14]:
type(t2.index)

pandas.core.indexes.period.PeriodIndex

# Converting to Datetime

In [15]:
d1= ['2 June 2013','Aug 29, 2014','2015-06-26','7/12/16']

ts3= pd.DataFrame(np.random.randint(10,100,(4,2)), index=d1,
                 columns=list('ab'))
ts3

               a   b
2 June 2013   69  43
Aug 29, 2014  16  51
2015-06-26    80  21
7/12/16       21  23

In [16]:
ts3.index= pd.to_datetime(ts3.index)
ts3

             a   b
2013-06-02  69  43
2014-08-29  16  51
2015-06-26  80  21
2016-07-12  21  23

# Timedelta

In [17]:
pd.Timestamp('9/3/2016')-pd.Timestamp('9/1/2016')

Timedelta('2 days 00:00:00')

# Offset

In [20]:
pd.Timestamp('9/4/2016').weekday()

6

# Working with Dates in DataFrame

In [23]:
dates= pd.date_range('10-01-2016',periods=9,freq='2W-SUN')
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [24]:
pd.date_range('10-01-2016',periods=9,freq='B')

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13'],
              dtype='datetime64[ns]', freq='B')