In [1]:
#Let's emport pandas to get started
import pandas as pd

In [3]:
# Here I'll make a list of the three of students
students=['Alice','Jack','Molly']

# Now call the series function in pandas and pass in the students
pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

In [6]:
# Let's create a little list of numbers
numbers = [1,2,3]

# And turn that into a series
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [7]:
# Let's recreate our list of students, but leave the last one as a None
students= ['Alice','Jack',None]

#And turn into series
pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

In [8]:
# So let's recreate a list with a None value in numbers
numbers= [1,2,None]
# And turn into series
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [11]:
# NaN is "Not" equivilent to None and when we try the equality test,the result is False

#Lets bring in numpy which allows us to genrate an NaN value
import numpy as np
# And lets compare it to None
np.nan == None

False

In [12]:
# You actually can't do an equality test of NaN to itself. Insted you need to use special functions
# to test for the presence of not a number, such as Numy library isnan()
np.isnan(np.nan)

True

In [13]:
# Keep in mind when you see NaN, it's meaning is similar to None, but it's a 
# numeric value and treated diffrently for efficiency reasons.

In [18]:
# Here's an example using some data of students and their classes.

students_scores= {'Alice': 'Physics',
                  'Jack': 'Chemistry',
                  'Molly': 'Englisg'}
s=pd.Series(students_scores)
s

Alice      Physics
Jack     Chemistry
Molly      Englisg
dtype: object

In [19]:
# Once the series has been created, we get the index object using the Index attribute.
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [20]:
# Let's create a more complex type of data, say, a list of tuples.
students=[('Alice','Brown'),('Jack','White'),('Molly','Green')]
pd.Series(students)

0    (Alice, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object

In [21]:
# You can also seprate your index creation from the data by passing in the index as a 
# list explicitly to the series.

s= pd.Series(['Physics','Chemistry','English'], index=['Alice','Jack','Molly'])
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [23]:
students_scores= {'Alice': 'Physics',
                 'Jack': 'Chemistry',
                 'Molly': 'English'}
# When I create the series object though I'll only ask for an index with three students, and 
# I'll exclude Jack
s = pd.Series(students_scores,index=['Alice','Molly','Sam'])
s

Alice    Physics
Molly    English
Sam          NaN
dtype: object