# The Python Programing Language: Types and Sequences

In [1]:
type('This is String')

str

In [2]:
type(None)

NoneType

In [3]:
type(1)

int

In [4]:
type(1.0)

float

In [8]:
def add_number(x,y):
       return x*y
print(add_number(2,3))

6

In [9]:
type(add_number)

function

In [10]:
x=(1,'a',2,'b')
type(x)

tuple

In [11]:
x=[1,'a',2,'b']
type(x)

list

In [12]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [13]:
for item in x:
    print(item)

1
a
2
b
3.3

In [15]:
i=0
while(i!=len(x)):
    print(x[i])
    i=i+1

1
a
2
b
3.3

In [16]:
[1,2]+[3,4]

[1, 2, 3, 4]

In [17]:
i in [1,2,3]

False

In [18]:
x= 'This is String'
print(x[0])
print(x[0:1])
print(x[0:2])

T
T
Th

In [19]:
x[-4:-2]

'ri'

In [20]:
x[:3]

'Thi'

In [21]:
x[3:]

's is String'

In [22]:
firstname='Rushang'
lastname='Joshi'

print(firstname+''+lastname)
print(firstname * 3)
print('Rus' in firstname)

RushangJoshi
RushangRushangRushang
True

In [26]:
firstname= 'My name is Rushang'.split(' ')[0]
lastname= 'My lastname is Joshi'.split(' ')[-1]
print(firstname)
print(lastname)

My
Joshi

In [28]:
'Rushang'+2

TypeError: can only concatenate str (not "int") to str

In [29]:
'Rushang'+str(2)

'Rushang2'

In [30]:
x={'Rushang Joshi':'RushangJ@gmail.com','XYZ':'XYZ@gmail.com'}
x['Rushang Joshi']

'RushangJ@gmail.com'

In [32]:
x['Rushang Joshi-xyz'] = None
x['Rushang Joshi']

'RushangJ@gmail.com'

In [33]:
for name in x:
    print(x[name])

RushangJ@gmail.com
XYZ@gmail.com
None

In [34]:
for email in x.value():
    print(email)

AttributeError: 'dict' object has no attribute 'value'

In [40]:
sales_record = {'price':3.24,
                'num_items':4,
               'person':'Rushang'}

sale_statement= '{} bought {} item(s) at a price of {} each for a total of {}'

print(sale_statement.format(sales_record['person'],
                            sales_record['num_items'],
                            sales_record['price'],
                            sales_record['num_items']*sales_record['price']))

Rushang bought 4 item(s) at a price of 3.24 each for a total of 12.96