In [1]:
# A pandas series can be queried either by the index position or the index label.

# We'll use students enrolled in classes coming from a dictionary
import pandas as pd
students_classes= {'Alice': 'Physics',
                   'Jack': 'Chemistry',
                   'Molly': 'English',
                   'Sam': 'History'}
s=pd.Series(students_classes)
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [7]:
#If we want to see the fourth entry 
s.iloc[3]

'History'

In [10]:
# If you want to see what class Molly has,
s.loc['Molly']

'English'

In [14]:
s[3]

'History'

In [15]:
s['Molly']

'English'

In [17]:
grades= pd.Series([90,80,70,55,65,83])

total=0
for grade in grades:
    total+=grade
print(total/len(grades))

73.83333333333333

In [18]:
import numpy as np

# Then we just call np.sum and pass in an iterable item.

total= np.sum(grades)
print(total/len(grades))

73.83333333333333

In [22]:
numbers= pd.Series(np.random.randint(0,1000,10000))

# Let's look at the top five items
numbers.head()

0    503
1    985
2    505
3    964
4    849
dtype: int64

In [23]:
len(numbers)

10000

In [24]:
%%timeit -n 100
total=0
for number in numbers:
    total+= number
total/len(numbers)

1.56 ms ± 253 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [25]:
%%timeit -n 100
total= np.sum(numbers)
total/len(numbers)

162 µs ± 31.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [26]:
numbers.head()

0    503
1    985
2    505
3    964
4    849
dtype: int64

In [27]:
#let's increase everything in the series by 2
numbers+=2
numbers.head()

0    505
1    987
2    507
3    966
4    851
dtype: int64

In [28]:
#We can use the iteritems() function which returns a label and value
for label, value in numbers.iteritems():
    #now for the item which is required, lets call set_value()
    numbers.set_value(label, value+2)
#And we can check the result of this computation
numbers.head()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

0    507
1    989
2    509
3    968
4    853
dtype: int64

In [32]:
students_classes= pd.Series({'Molly': 'Physics',
                            'Jack': 'Chemistry',
                            'Alice':'English',
                            'sam': 'History'})
students_classes

Molly      Physics
Jack     Chemistry
Alice      English
sam        History
dtype: object

In [40]:
Kelly_classes= pd.Series(['Arts','Computers','Science'],index=['Kelly','Kelly','Kelly'])
Kelly_classes

Kelly         Arts
Kelly    Computers
Kelly      Science
dtype: object

In [41]:
all_students_classes= students_classes.append(Kelly_classes)
all_students_classes

Molly      Physics
Jack     Chemistry
Alice      English
sam        History
Kelly         Arts
Kelly    Computers
Kelly      Science
dtype: object